<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967381561262-qb4ga9anraeb8v89jiqanqj1d17qfs9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967381561262-qb4ga9anraeb8v89jiqanqj1d17qfs9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967381561262-57dvp21m36vr29594e7so9vknilbmoum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCxmfCpK6R8VHv5YqEtnJELMI125bm6c0</string>
	<key>GCM_SENDER_ID</key>
	<string>967381561262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sworkRaon</string>
	<key>PROJECT_ID</key>
	<string>rapivettest</string>
	<key>STORAGE_BUCKET</key>
	<string>rapivettest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967381561262:ios:e348d5042db2e81effe23f</string>
</dict>
</plist>